.ext-emergencyBadge {
	/* @embed */ background-image: url( shagat-haari.svg );
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: inline-block;
	flex-shrink: 0;
	align-self: center;
	height: 50px;
	width: 85px;
	margin: 0 4px;

	@media ( max-width: 1000px ) {
		height: 40px;
		width: 68px;
	}
}

@media ( max-width: 1000px ) {
	.mw-wiki-logo {
		background-size: auto 40px;
		height: 40px;
		width: 120px;
		min-width: 120px;
	}
}
